bbStyle.stylePath:
bbStyle.stylePath:
bbStyle.showStyleInfo:   true
bbStyle.timerOn:         true
bbStyle.useSlit:         false
bbStyle.X:               10
bbStyle.Y:               10
bbStyle.onTop:           true
bbStyle.snapWindow:     true
bbStyle.autoHide:        false
bbStyle.changeTime:      5
bbStyle.chance:         false
bbStyle.count:         0
